In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {"marker":["Delorian", "Fantom"],
       "cyl":[4, 2],
       "hp": [160, 80],
       "carb": [4,2]}
df = pd.DataFrame(data)
df

     marker  cyl   hp  carb
0  Delorian    4  160     4
1    Fantom    2   80     2

### unpivot

In [3]:
# unpivot
df_new = pd.melt(frame=df, id_vars="marker", 
                 value_vars=["cyl", "hp", "carb"], var_name="metric")
df_new

     marker metric  value
0  Delorian    cyl      4
1    Fantom    cyl      2
2  Delorian     hp    160
3    Fantom     hp     80
4  Delorian   carb      4
5    Fantom   carb      2

In [6]:
pd.melt(frame=df, id_vars="marker", var_name="metric")

     marker metric  value
0  Delorian    cyl      4
1    Fantom    cyl      2
2  Delorian     hp    160
3    Fantom     hp     80
4  Delorian   carb      4
5    Fantom   carb      2

### pivot

In [7]:
# xoay dòng thành cột
df_pivot = df_new.pivot(index = 'marker', 
                        columns='metric', values='value')
df_pivot

metric    carb  cyl   hp
marker
Delorian     4    4  160
Fantom       2    2   80

In [8]:
df_new = df_new.append({'marker' : 'Fantom' , 'metric' : 'carb', 'value' : 4} , ignore_index=True)
df_new

     marker metric  value
0  Delorian    cyl      4
1    Fantom    cyl      2
2  Delorian     hp    160
3    Fantom     hp     80
4  Delorian   carb      4
5    Fantom   carb      2
6    Fantom   carb      4

In [9]:
df_new.pivot(index = 'marker', 
                        columns='metric', values='value')

ValueError: Index contains duplicate entries, cannot reshape

In [10]:
# Pivot table
df_pivot = df_new.pivot_table(index = 'marker', columns='metric', 
                                values='value', aggfunc= np.mean)
df_pivot

metric    carb  cyl   hp
marker
Delorian     4    4  160
Fantom       3    2   80

In [7]:
# tạo dataframe df
df = pd.DataFrame({'name':['Tom','John','Mike'], 'Math':[7.8,8.5,5.0], 
                   'Chemist':[8.5,9.0,7.0], 'Physist':[8.9,9.5,6.0]})
df

   name  Math  Chemist  Physist
0   Tom   7.8      8.5      8.9
1  John   8.5      9.0      9.5
2  Mike   5.0      7.0      6.0

In [8]:
# yêu cầu 1: sử dụng pd.melt để chuyển df --> df_new
df_new = pd.melt(frame=df, id_vars='name', value_vars=['Math','Chemist','Physist'], var_name='subject')
df_new

   name  subject  value
0   Tom     Math    7.8
1  John     Math    8.5
2  Mike     Math    5.0
3   Tom  Chemist    8.5
4  John  Chemist    9.0
5  Mike  Chemist    7.0
6   Tom  Physist    8.9
7  John  Physist    9.5
8  Mike  Physist    6.0

In [9]:
# yêu cầu 2: từ df_new tính điểm trung bình các môn
df_new.groupby('subject')['value'].mean()

subject
Chemist    8.166667
Math       7.100000
Physist    8.133333
Name: value, dtype: float64

In [10]:
# yêu cầu 3: từ df_new tính điểm trung bình các học sinh
df_new.groupby('name')['value'].mean()

name
John    9.0
Mike    6.0
Tom     8.4
Name: value, dtype: float64

In [11]:
# yêu cầu 4: từ df tính điểm trung bình các môn
df.mean(axis=0)

C:\Users\ntd20\AppData\Local\Temp\ipykernel_9928\1845534081.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean(axis=0)

Math       7.100000
Chemist    8.166667
Physist    8.133333
dtype: float64

In [12]:
# yêu cầu 5: từ df tính điểm trung bình các học sinh
df.mean(axis=1)

C:\Users\ntd20\AppData\Local\Temp\ipykernel_9928\1030227739.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)

0    8.4
1    9.0
2    6.0
dtype: float64