In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.DataFrame({'sex':['male','female','female','male'], 'shape':['medium','small','small','large']})
df

      sex   shape
0    male  medium
1  female   small
2  female   small
3    male   large

### Label Encoder

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
le = LabelEncoder()

In [27]:
df['shape_'] = le.fit_transform(df['shape'])
df

      sex   shape  shape_
0    male  medium       1
1  female   small       2
2  female   small       2
3    male   large       0

In [28]:
df['sex_'] = le.fit_transform(df['sex'])
df

      sex   shape  shape_  sex_
0    male  medium       1     1
1  female   small       2     0
2  female   small       2     0
3    male   large       0     1

In [29]:
df = pd.DataFrame({'sex':['male','female','female','male'], 'shape':['medium','small','small','large']})

In [30]:
cols = ['sex','shape']

In [31]:
le = LabelEncoder()
for col in cols:
    df[col+'_'] = le.fit_transform(df[col])

In [32]:
df

      sex   shape  sex_  shape_
0    male  medium     1       1
1  female   small     0       2
2  female   small     0       2
3    male   large     1       0

In [33]:
df = pd.DataFrame({'sex':['male','female','female','male'], 'shape':['medium','small','small','large']})

### One-hot encoder

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
ohe = OneHotEncoder()

In [36]:
ohe.fit(df[['sex']])

OneHotEncoder()

In [37]:
df_sex_ohe = ohe.transform(df[['sex']]).toarray()
df_sex_ohe

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [38]:
ohe.categories_

[array(['female', 'male'], dtype=object)]

In [40]:
df_ = pd.DataFrame(df_sex_ohe, columns=['S_'+i for i in ohe.categories_[0]])
df_

   S_female  S_male
0       0.0     1.0
1       1.0     0.0
2       1.0     0.0
3       0.0     1.0

In [41]:
dfOneHot = pd.concat([df,df_], axis=1)
dfOneHot

      sex   shape  S_female  S_male
0    male  medium       0.0     1.0
1  female   small       1.0     0.0
2  female   small       1.0     0.0
3    male   large       0.0     1.0

### Dummy Encoder

In [42]:
df_ = pd.get_dummies(df, columns=['sex','shape'], prefix='S')

In [43]:
df_

   S_female  S_male  S_large  S_medium  S_small
0         0       1        0         1        0
1         1       0        0         0        1
2         1       0        0         0        1
3         0       1        1         0        0

In [21]:
df_ = pd.get_dummies(df, columns=['sex','shape'], prefix='S', drop_first=True)
df_

   S_male  S_medium  S_small
0       1         1        0
1       0         0        1
2       0         0        1
3       1         0        0