In [4]:
import pandas as pd
import glob

In [2]:
csv_files = glob.glob('data/iris*.csv') # 'data/*.csv'

In [3]:
csv_files

['data\\iris_setosa.csv',
 'data\\iris_versicolor.csv',
 'data\\iris_virginica.csv']

In [5]:
lst = []
for fn in csv_files:
    df = pd.read_csv(fn)
    lst.append(df)
data = pd.concat(lst, ignore_index=True)
data

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica